---
env: prod
ocp_host: https://api.pipelines-prod.ijdb.p1.openshiftapps.com:6443
branch: main
operator_pipeline_webhook_secret: ../../vaults/prod/github-webhook-secret-prod.txt
kerberos_keytab: ../../vaults/prod/operatorpipelines.keytab

operator_pipeline_image_tag: "v1.0.8"

# how many of newest pipelineruns should be preserved on cleanup?
preserve_after_cleanup: "10"

operator_pipeline_hydra_username_local_path: ../../vaults/prod/hydra-username
operator_pipeline_hydra_password_local_path: ../../vaults/prod/hydra-password

operator_pipeline_kubeconfig_prow_local_path: ../../vaults/prod/kubeconfig-prow
operator_pipeline_github_bot_token: ../../vaults/prod/github-bot-token.txt

operator_pipeline_preflight_decryption_key_private_local_path: ../../vaults/prod/preflight-decryption-key-priv.gpg
operator_pipeline_preflight_decryption_key_public_local_path: ../../vaults/prod/preflight-decryption-key-pub.gpg

github_ssh_credentials_path: ../../vaults/prod/github-bot-ssh
e2e_kubeconfig_path: ../../vaults/prod/kubeconfig-e2e

pipelines_metrics_endpoint: http://pipeline-metrics.pipeline-metrics-prod

operator_pipeline_ibm_webhook_token_local_path: ../../vaults/prod/nonprod-ibm-webhook-token

# Settings for importing index imagestreams
certified_operator_index: registry.redhat.io/redhat/certified-operator-index
redhat_marketplace_index: registry.redhat.io/redhat/redhat-marketplace-index

community_signing_umb_client_name: community-operator-signing-pipeline
community_signing_pipeline_url: "{{ community_signing_pipeline_name }}-tekton-{{ env }}.apps.pipelines-prod.ijdb.p1.openshiftapps.com"
nginx_proxy_url: "{{ community_signing_pipeline_name }}-{{ env }}.apps.pipelines-prod.ijdb.p1.openshiftapps.com"
