##### General settings
env: unset
oc_namespace: operator-pipeline-{{ env }}
service_account_name: operator-pipeline-admin
suffix: "{{ env }}"
preflight_min_version: 0.0.0
ci_min_version: 0.0.0

##### Secrets locations
operator_pipeline_private_key_local_path: ../../vaults/{{ env }}/operator-pipeline.key
operator_pipeline_private_cert_local_path: ../../vaults/{{ env }}/operator-pipeline.pem

operator_pipeline_kubeconfig_ocp_local_path: ../../vaults/{{ env }}/kubeconfig-ocp

operator_pipeline_registry_token: ../../vaults/{{ env }}/dockerconfig.json

operator_pipeline_kubeconfig_prow_local_path: ../../vaults/common/kubeconfig-prow
operator_pipeline_github_bot_token: ../../vaults/common/github-bot-token.txt

operator_pipeline_hydra_username_local_path: ../../vaults/common/nonprod-hydra-username
operator_pipeline_hydra_password_local_path: ../../vaults/common/nonprod-hydra-password

operator_pipeline_preflight_decryption_key_private_local_path: ../../vaults/common/preflight-decryption-key-priv.gpg
operator_pipeline_preflight_decryption_key_public_local_path: ../../vaults/common/preflight-decryption-key-pub.gpg

operator_pipeline_exd_guild_isv_key_path: ../../vaults/common/exd-guild-isv.key
operator_pipeline_exd_guild_isv_passphrase_path: ../../vaults/common/exd-guild-isv.passphrase
