---
# Set update schedule for GitHub Actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      # Check for updates to Python dependencies every week
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      # Check for updates to Docker images every week
      interval: "weekly"
