
[project]
name = "operator-pipelines"
version = "0.0.1"
description = ""
authors = [
    {name = "haripate", email = "haripate@redhat.com"},
]
dependencies = []
requires-python = ">=3.9"
readme = "README.md"
license = {text = "GPLv3"}

[project.optional-dependencies]
operator-pipelines = [
    "python-magic>=0.4.24",
    "pyyaml>=5.4.1",
    "requests>=2.31.0",
    "yq>=2.12.2",
    "giturlparse>=0.10.0",
    "html2text>=2020.1.16",
    "requests-kerberos>=0.14.0",
    "python-dateutil>=2.8.2",
    "humanize>=3.12.0",
    "stomp-py>=8.0.1",
]
[build-system]
requires = ["pdm-pep517>=1.0"]
build-backend = "pdm.pep517.api"

[tool.pdm.dev-dependencies]
operator-pipelines-dev = [
    "black>=23.3.0",
    "pytest>=7.3.2",
    "pytest-cov>=4.1.0",
    "yamllint>=1.32.0",
    "requests-mock>=1.11.0",
]
tox = [
    "tox>=4.6.0",
    "tox-pdm>=0.6.1",
]
