---
- name: Create trigger enabling running Community release pipeline via GitHub webhook
  tags:
    - triggers
  block:
    - name: Create Community release pipeline Trigger Binding
      kubernetes.core.k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerBinding
          metadata:
            name: community-operator-release-pipeline-trigger-binding
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_repo_url
                value: $(body.pull_request.base.repo.ssh_url)
              - name: git_pr_url
                value: $(body.pull_request.html_url)
              - name: git_base_branch
                value: $(body.pull_request.base.ref)
              - name: git_username
                value: $(body.pull_request.user.login)
              - name: git_commit
                value: $(body.pull_request.merge_commit_sha)
              - name: git_commit_base
                value: $(body.pull_request.base.sha)
              - name: git_head_sha
                value: $(body.pull_request.head.sha)
              - name: env
                value: "{{ env }}"
              - name: pipeline_image
                value: "{{ operator_pipeline_image_pull_spec }}"
              - name: image_namespace
                value: "{{ community_operator_pipeline_pending_namespace }}"
              - name: dest_image_namespace
                value: "{{ operator_pipeline_release_namespace }}"
              - name: cert_project_required
                value: "false"
              - name: kerberos_keytab_secret_key
                value: krb5-community.keytab
              - name: quay_push_final_index_secret
                value: community-push-final-index-quay-credentials

    - name: Create Community release pipeline Trigger Template
      kubernetes.core.k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerTemplate
          metadata:
            name: community-operator-release-pipeline-trigger-template
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_repo_url
              - name: git_pr_url
              - name: git_base_branch
              - name: git_username
              - name: git_commit
              - name: git_commit_base
              - name: git_head_sha
              - name: env
              - name: pipeline_image
              - name: image_namespace
              - name: cert_project_required
              - name: dest_image_namespace
              - name: kerberos_keytab_secret_key
              - name: quay_push_final_index_secret
            resourcetemplates:
              - apiVersion: tekton.dev/v1
                kind: PipelineRun
                metadata:
                  generateName: operator-release-pipeline-run
                  labels:
                    app: operator-pipeline
                    suffix: "{{ suffix }}"
                    env: "{{ env }}"
                    git_commit: $(tt.params.git_commit)
                  annotations:
                    git_pull_request_url: $(tt.params.git_pr_url)
                spec:
                  timeouts:
                    pipeline: "4h15m0s"
                    tasks: "4h5m"
                  pipelineRef:
                    name: operator-release-pipeline
                  params:
                    - name: git_repo_url
                      value: $(tt.params.git_repo_url)
                    - name: git_pr_url
                      value: $(tt.params.git_pr_url)
                    - name: git_base_branch
                      value: $(tt.params.git_base_branch)
                    - name: git_username
                      value: $(tt.params.git_username)
                    - name: git_commit
                      value: $(tt.params.git_commit)
                    - name: git_commit_base
                      value: $(tt.params.git_commit_base)
                    - name: git_head_sha
                      value: $(tt.params.git_head_sha)
                    - name: env
                      value: $(tt.params.env)
                    - name: pipeline_image
                      value: $(tt.params.pipeline_image)
                    - name: image_namespace
                      value: $(tt.params.image_namespace)
                    - name: dest_image_namespace
                      value: $(tt.params.dest_image_namespace)
                    - name: cert_project_required
                      value: $(tt.params.cert_project_required)
                    - name: kerberos_keytab_secret_key
                      value: $(tt.params.kerberos_keytab_secret_key)
                    - name: quay_push_final_index_secret
                      value: $(tt.params.quay_push_final_index_secret)
                  workspaces:
                    - name: repository
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 5Gi
                    - name: results
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 100Mi
                    - name: image-data
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 100Mi
                    - name: registry-pull-credentials
                      secret:
                        secretName: release-pipeline-registry-auth-pull-secret
                    - name: registry-push-credentials
                      secret:
                        secretName: release-pipeline-registry-auth-push-secret
                    - name: registry-serve-credentials
                      secret:
                        secretName: release-pipeline-registry-auth-serve-secret
                    - name: hosted-registry-credentials
                      secret:
                        secretName: community-hosted-pipeline-registry-auth-secret
                    - name: ssh-dir
                      secret:
                        secretName: github-rh-operator-bundle-bot-ssh-credentials
