---
- name: Create trigger enabling running Community hosted pipeline via Github PR webhook
  tags:
    - triggers
  block:
    - name: Create Community hosted pipeline Trigger Binding
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerBinding
          metadata:
            name: community-operator-hosted-pipeline-trigger-binding
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_repo_url
                value: $(body.pull_request.base.repo.clone_url)
              - name: git_pr_branch
                value: $(body.pull_request.head.ref)
              - name: git_fork_url
                value: $(body.pull_request.head.repo.clone_url)
              - name: git_pr_url
                value: $(body.pull_request.html_url)
              - name: git_pr_title
                value: $(body.pull_request.title)
              - name: git_username
                value: $(body.pull_request.user.login)
              - name: git_commit
                value: $(body.pull_request.head.sha)
              - name: git_commit_base
                value: $(body.pull_request.base.sha)
              - name: env
                value: "{{ env }}"
              - name: pipeline_image
                value: "{{ operator_pipeline_image_pull_spec }}"
              - name: image_namespace
                value: "{{ community_operator_pipeline_pending_namespace }}"
              - name: metrics_endpoint
                value: "{{ pipelines_metrics_endpoint }}"

    - name: Create Community hosted pipeline Trigger template
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerTemplate
          metadata:
            name: community-operator-hosted-pipeline-trigger-template
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_repo_url
              - name: git_pr_branch
              - name: git_fork_url
              - name: git_pr_url
              - name: git_pr_title
              - name: git_username
              - name: git_commit
              - name: git_commit_base
              - name: env
              - name: pipeline_image
              - name: image_namespace
              - name: metrics_endpoint
            resourcetemplates:
              - apiVersion: tekton.dev/v1beta1
                kind: PipelineRun
                metadata:
                  generateName: community-hosted-pipeline-run
                  labels:
                    app: operator-pipeline
                    suffix: "{{ suffix }}"
                    env: "{{ env }}"
                    git_commit: $(tt.params.git_commit)
                  annotations:
                    git_pull_request_url: $(tt.params.git_pr_url)
                    git_pull_request_title: $(tt.params.git_pr_title)
                spec:
                  timeout: "2h"
                  pipelineRef:
                    name: community-hosted-pipeline
                  params:
                    - name: git_repo_url
                      value: $(tt.params.git_repo_url)
                    - name: git_pr_branch
                      value: $(tt.params.git_pr_branch)
                    - name: git_fork_url
                      value: $(tt.params.git_fork_url)
                    - name: git_pr_url
                      value: $(tt.params.git_pr_url)
                    - name: git_pr_title
                      value: $(tt.params.git_pr_title)
                    - name: git_username
                      value: $(tt.params.git_username)
                    - name: git_commit
                      value: $(tt.params.git_commit)
                    - name: git_commit_base
                      value: $(tt.params.git_commit_base)
                    - name: env
                      value: $(tt.params.env)
                    - name: pipeline_image
                      value: $(tt.params.pipeline_image)
                    - name: image_namespace
                      value: $(tt.params.image_namespace)
                    - name: metrics_endpoint
                      value: $(tt.params.metrics_endpoint)
                  workspaces:
                    - name: repository
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 5Gi
                    - name: results
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 100Mi
                    - name: registry-credentials
                      secret:
                        secretName: community-hosted-pipeline-registry-auth-secret


- name: Create trigger enabling running PR comment parsing pipeline
  tags:
    - triggers
  block:
    - name: Create parsing pipeline Trigger Binding
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerBinding
          metadata:
            name: community-operator-comment-pipeline-trigger-binding
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_comment_body
                value: $(body.comment.body)
              - name: git_pr_url
                value: $(body.issue.pull_request.url)
              - name: env
                value: "{{ env }}"
              - name: pipeline_image
                value: "{{ operator_pipeline_image_pull_spec }}"

    - name: Create Community comment pipeline Trigger template
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerTemplate
          metadata:
            name: community-operator-comment-pipeline-trigger-template
            labels:
              app: operator-pipeline
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: git_comment_body
              - name: git_pr_url
              - name: env
              - name: pipeline_image
              - name: metrics_endpoint
            resourcetemplates:
              - apiVersion: tekton.dev/v1beta1
                kind: PipelineRun
                metadata:
                  generateName: community-comment-pipeline-run
                  labels:
                    app: operator-pipeline
                    suffix: "{{ suffix }}"
                    env: "{{ env }}"
                  annotations:
                    git_pull_request_url: $(tt.params.git_pr_url)
                spec:
                  timeout: "1m"
                  pipelineRef:
                    name: community-comment-pipeline
                  params:
                    - name: git_comment_body
                      value: $(tt.params.git_comment_body)
                    - name: git_pr_url
                      value: $(tt.params.git_repo_url)
                    - name: env
                      value: $(tt.params.env)
                    - name: pipeline_image
                      value: $(tt.params.pipeline_image)
                  workspaces:
                    - name: results
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 1Mi
