---
- name: Create trigger enabling running Community signing pipeline via webhook
  tags:
    - webhook
    - community-signing
  block:
    - name: Create Community signing pipeline Trigger Binding
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerBinding
          metadata:
            name: "{{ community_signing_pipeline_name }}-trigger-binding"
            labels:
              app: "{{ community_signing_pipeline_name }}"
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: env
                value: "{{ env }}"
              - name: manifest_digest
                value: $(body.manifest_digest)
              - name: reference
                value: $(body.reference)
              - name: repository
                value: $(body.repository)
              - name: requester
                value: $(body.requester)
              - name: umb_client_name
                value: "{{ community_signing_umb_client_name }}"
              - name: pipeline_image
                value: "{{ operator_pipeline_image_pull_spec }}"

    - name: Create Community signing pipeline Trigger Template
      k8s:
        state: present
        namespace: "{{ oc_namespace }}"
        definition:
          apiVersion: triggers.tekton.dev/v1alpha1
          kind: TriggerTemplate
          metadata:
            name: "{{ community_signing_pipeline_name }}-trigger-template"
            labels:
              app: "{{ community_signing_pipeline_name }}"
              suffix: "{{ suffix }}"
              env: "{{ env }}"
          spec:
            params:
              - name: env
              - name: manifest_digest
              - name: reference
              - name: repository
              - name: requester
            resourcetemplates:
              - apiVersion: tekton.dev/v1beta1
                kind: PipelineRun
                metadata:
                  generateName: "{{ community_signing_pipeline_name }}-run"
                spec:
                  timeout: "2h"
                  pipelineRef:
                    name: "{{ community_signing_pipeline_name }}"
                  params:
                    - name: env
                      value: $(tt.params.env)
                    - name: manifest_digest
                      value: $(tt.params.manifest_digest)
                    - name: reference
                      value: $(tt.params.reference)
                    - name: repository
                      value: $(tt.params.repository)
                    - name: requester
                      value: $(tt.params.requester)
                  workspaces:
                    - name: pipeline
                      volumeClaimTemplate:
                        spec:
                          accessModes:
                            - ReadWriteOnce
                          resources:
                            requests:
                              storage: 100Mi
