---
- name: Create a pull request
  ansible.builtin.uri:
    url: "https://api.github.com/repos/{{ integration_tests_git_upstream_repo }}/pulls"
    method: POST
    status_code: 201
    headers:
      Authorization: "token {{ ci_pipeline_github_personal_access_token }}"
      Accept: application/vnd.github.v3+json
    body_format: json
    body:
      title: "{{ integration_tests_pr_title }}"
      body: E2e test for {{ integration_tests_operator_package_name }} ({{ integration_tests_operator_bundle_version }})
      head: "{{ integration_tests_git_bundle_branch }}"
      base: "{{ integration_tests_git_upstream_branch }}"
  register: integration_tests_pr_response
  no_log: true

- name: Display PR response
  ansible.builtin.debug:
    var: integration_tests_pr_response
