---
- name: Configure OCP cluster
  hosts: "{{ clusters }}"
  roles:
    - name: config_ocp_cluster
  vars_files:
    - "../vaults/config-ocp-cluster/{{ env }}/secret-vars.yml"
    - "../vaults/{{ env }}/ocp-token.yml"
  environment:
    K8S_AUTH_API_KEY: "{{ ocp_token }}"
    K8S_AUTH_HOST: "{{ ocp_host }}"
