kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: {{ tekton_dashboard_public_port }}
        protocol: TCP
      - containerPort: 31000
        hostPort: 50051

networking:
  # WARNING: It is _strongly_ recommended that you keep this the default
  # (127.0.0.1) for security reasons. However it is possible to change this.
  apiServerAddress: "{{ kind_cluster_api_server_address }}"
  apiServerPort: 6443
{% if registry_enable|bool == true %}
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:{{ registry_port }}"]
{% if ansible_facts['os_family'] == "Debian" %}
{% if registry_ssl|bool == false %}
    endpoint = ["http://{{ registry_hostname }}:{{ registry_port }}"]
{% else %}
    endpoint = ["https://{{ registry_hostname }}:{{ registry_port }}"]
{% endif %}
{% elif ansible_facts['os_family'] == "RedHat" %}
{% if ansible_facts['user_uid'] == "0" %}
{% if registry_ssl|bool == false %}
    endpoint = ["http://host.containers.internal:{{ registry_port }}"]
{% else %}
    endpoint = ["https://host.containers.internal:{{ registry_port }}"]
{% endif %}
{% else %}
{% if registry_ssl|bool == false %}
    endpoint = ["http://{{ registry_hostname }}:{{ registry_port }}"]
{% else %}
    endpoint = ["https://{{ registry_hostname }}:{{ registry_port }}"]
{% endif %}
{% endif %}


{% endif %}
{% endif %}
