---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: add-bundle-to-index
spec:
  params:
    - name: pipeline_image
      description: The common pipeline image.

    - name: bundle_pullspec
      description: Bundle pullspec

    - name: index_images
      description: All known supported index image pull specs (space separated)

    - name: iib_url
      description: IIB API url
      default: https://iib.engineering.redhat.com

    - name: kerberos_keytab_secret_name
      description: >-
        The name of the Kubernetes Secret that contains the kerberos keytab for submitting IIB builds.

    - name: kerberos_keytab_secret_key
      description: >-
        The key within the Kubernetes Secret that contains the kerberos keytab for submitting IIB builds.

    - name: environment
      description: |
        Which environment the pipeline is running in. Can be one of [dev, qa, stage, prod]

    - name: index-image-destination
      default: ""
      description: "The destination registry and repository where index images will be pushed after IIB build is finished"

    - name: index-image-destination-tag-suffix
      default: ""
      description: "A tag suffix that is added to an image tag in destination registry"

    - name: upgrade-graph-mode
      default: ""
      description: "A graph update mode that defines how channel graphs are updated"

  results:
    - name: status
      description: Indicates a status of adding a bundle to an index
  volumes:
    - name: kerberos-volume
      secret:
        secretName: "$(params.kerberos_keytab_secret_name)"
  workspaces:
    - name: output
    - name: credentials
      optional: true

  steps:
    - name: add-bundle-to-index
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.output.path)
      env:
        - name: KRB_KEYTAB_FILE
          value: "/etc/kerberos/$(params.kerberos_keytab_secret_key)"
      volumeMounts:
        - name: kerberos-volume
          readOnly: true
          mountPath: "/etc/kerberos"
      script: |
        #! /usr/bin/env bash
        set -xe

        ENV=$(params.environment)
        INDEX_IMAGES="$(params.index_images)"
        if [[ $ENV == "dev" || $ENV == "qa" ]]; then
            echo "Adding bundle to an index is a NOOP for dev and qa environments at this time."
            echo -n "success" | tee "$(results.status.path)"
            # output dummy/test values for following tasks
            echo -n "$(params.bundle_pullspec)" | tee "$(workspaces.output.path)/index-image-paths.txt"
            exit 0
        fi

        if [[ $ENV != "prod" ]]; then
            # Replace registry urls with stage urls when in preprod
            INDEX_IMAGES=${INDEX_IMAGES//registry.redhat.io/registry.stage.redhat.io}
        fi

        EXTRA_ARGS=""
        if [[ "$(workspaces.credentials.bound)" == "true" ]]; then
          EXTRA_ARGS+=" --authfile $(workspaces.credentials.path)/.dockerconfigjson"
        fi

        if [[ "$(params.index-image-destination-tag-suffix)" != "" ]]; then
          EXTRA_ARGS+=" --index-image-destination-tag-suffix=$(params.index-image-destination-tag-suffix)"
        fi

        if [[ "$(params.upgrade-graph-mode)" != "" ]]; then
          EXTRA_ARGS+=" --mode $(params.upgrade-graph-mode)"
        fi


        # DO NOT use `--verbose` to avoid auth headers appearing in logs
        index \
          --iib-url "$(params.iib_url)" \
          --indices $INDEX_IMAGES \
          --bundle-pullspec "$(params.bundle_pullspec)" \
          --index-image-destination "$(params.index-image-destination)" \
          --image-output index-image-paths.txt $EXTRA_ARGS


        echo -n "success" | tee "$(results.status.path)"
        cat index-image-paths.txt
