---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: build-fragment-images
spec:
  params:
    - name: pipeline_image

    - name: affected_catalogs
      description: Comma separated list of updated catalogs

    - name: fragment_repository
      description: A repository where fragments are pushed

    - name: commit_sha
      description: SHA of the commit to set the tag suffix.

  workspaces:
    - name: source
    - name: credentials
      optional: true
      description: A workspace with credentials for registry push
  steps:
    - name: build-fragment-images
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.source.path)
      securityContext:
        privileged: true
      script: |
        #! /usr/bin/env bash
        set -xe

        if [[ "$(params.affected_catalogs)" == "" ]]; then
          echo "No affected catalogs, skipping fragment image build"
          exit 0
        fi

        EXTRA_ARGS=""
        if [[ "$(workspaces.credentials.bound)" == "true" ]]; then
          EXTRA_ARGS+=" --authfile $(workspaces.credentials.path)/.dockerconfigjson"
        fi

        build-fragment-images \
          --catalog-names "$(params.affected_catalogs)" \
          --repository-destination "$(params.fragment_repository)" \
          --tag-suffix "fragment-$(params.commit_sha)" \
          --verbose $EXTRA_ARGS
