---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: get-ci-results-attempt
spec:
  params:
    - name: pipeline_image
    - name: pyxis_ssl_secret_name
      description: Kubernetes secret name that contains the Pyxis SSL files. Valid only when internal Pyxis is used.
    - name: pyxis_ssl_cert_secret_key
      description: The key within the Kubernetes secret that contains the Pyxis SSL cert. Valid only when internal Pyxis is used.
    - name: pyxis_ssl_key_secret_key
      description: The key within the Kubernetes secret that contains the Pyxis SSL key. Valid only when internal Pyxis is used.
    - name: md5sum
    - name: pyxis_url
    - name: cert_project_id
    - name: bundle_version
    - name: operator_name
  results:
    - name: preflight_results_exists
    - name: preflight_results
      description: |
        Relative file path, from the root of the results workspace,
        where the JSON formatted results are stored.
    - name: test_result_id
  workspaces:
    - name: results
  volumes:
    - name: pyxis-ssl-volume
      secret:
        secretName: "$(params.pyxis_ssl_secret_name)"
        optional: true
  steps:
    - name: get-results
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.results.path)
      env:
        - name: PYXIS_CERT_PATH
          value: /etc/pyxis-ssl-volume/$(params.pyxis_ssl_cert_secret_key)
        - name: PYXIS_KEY_PATH
          value: /etc/pyxis-ssl-volume/$(params.pyxis_ssl_key_secret_key)
      volumeMounts:
        - name: pyxis-ssl-volume
          readOnly: true
          mountPath: "/etc/pyxis-ssl-volume"
      script: |
        #! /usr/bin/env bash

        set -xe

        if [[ "$(params.cert_project_id)" == "" ]];then
          # Skip download in case a cert project is not available
          exit 0
        fi

        # Send request to Pyxis to get the logs and test results.
        # If they exists, store them in the workspace

        echo "Downloading the artifacts"

        download-test-results \
          --pyxis-url "$(params.pyxis_url)" \
          --cert-project-id "$(params.cert_project_id)" \
          --certification-hash "$(params.md5sum)" \
          --operator-package-version "$(params.bundle_version)" \
          --operator-name "$(params.operator_name)" \
          --verbose

    - name: indicate-if-results-exists
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.results.path)
      env:
        - name: RESULTS_FILE
          value: test_results.json
      script: |
        #! /usr/bin/env bash
        set -xe

        if [ -f $RESULTS_FILE ]; then
          echo "Results exist"
          CHECK_RESULTS=$(cat $RESULTS_FILE | jq -r '.passed')
          cat test_result_id | tee $(results.test_result_id.path)

          if [ $CHECK_RESULTS = "false" ]; then
            echo "Not all preflight tests passed."
          else
            echo "All preflight tests passed successfully."
          fi
          echo -n "$CHECK_RESULTS" | tee $(results.preflight_results_exists.path)
          echo -n "$PWD/$RESULTS_FILE" | tee $(results.preflight_results.path)
        else
          echo "Results do not exist"
          echo -n "false" | tee $(results.preflight_results_exists.path)
          echo -n "none" | tee $(results.preflight_results.path)
          echo -n "none" | tee $(results.test_result_id.path)
        fi
