---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: merge-pr
spec:
  description: Merge a GitHub pull request
  params:
    - name: pipeline_image
    - name: git_pr_url
      description: URL of the GitHub pull request.
    - name: git_head_commit
      description: SHA of the head of the branch to be merged.
    - name: bundle_path
      description: Path to the operator bundle affected by the pull request.
    - name: github_token_secret_name
      description: The name of the Kubernetes Secret that contains the GitHub token.
      default: github
    - name: github_token_secret_key
      description: The key within the Kubernetes Secret that contains the GitHub token.
      default: token
    - name: force_merge
      description: The boolean which will indicate when to ignore the verification of ci.yaml file.
      default: "false"
  workspaces:
    - name: source
  results:
    - name: bool_merge
    - name: pr_merged
  steps:
    - name: check-if-merge
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.source.path)
      script: |
        set -xe
        if [ "$(params.force_merge)" = "true" ]; then
          echo -n true > "$(results.bool_merge.path)"
        elif [[ "$(params.bundle_path)" == "" ]]; then
          echo -n true > "$(results.bool_merge.path)"
        else
          PKG_PATH=$(dirname $(realpath "$(params.bundle_path)"))
          CI_FILE_PATH="$PKG_PATH/ci.yaml"
          BOOL_MERGE=$(yq -r '.merge' < "$CI_FILE_PATH")

          echo -n "$BOOL_MERGE" > "$(results.bool_merge.path)"
        fi

    - name: review-pull-request
      image: "$(params.pipeline_image)"
      env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.github_token_secret_name)
              key: $(params.github_token_secret_key)
      script: |
        #! /usr/bin/env bash
        set -ex

        gh pr review "$(params.git_pr_url)" --approve \
            --body "Operator bundle PR has been approved!"

        echo "Merge request has been approved!"

    - name: merge-pull-request
      image: "$(params.pipeline_image)"
      env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.github_token_secret_name)
              key: $(params.github_token_secret_key)
      script: |
        #! /usr/bin/env bash
        set -x +e

        BOOL_MERGE=$(cat "$(results.bool_merge.path)")

        if [ "$BOOL_MERGE" = "false" ]; then
          echo "merge explicitly set to false- not merging the Pull Request"
          echo -n "false" > "$(results.pr_merged.path)"
          exit 0
        fi

        # Squash and merge only if the head commit sha has not changed since
        # the start of the pipeline run
        gh pr merge "$(params.git_pr_url)" --squash --auto \
            --match-head-commit "$(params.git_head_commit)"

        if [[ $? -eq 0 ]] ; then
            echo "PR has been merged!"
            echo -n "true" > "$(results.pr_merged.path)"
        else
            echo "Cannot merge PR"
            echo -n "false" > "$(results.pr_merged.path)"
        fi
