---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: merge-pr
spec:
  params:
    - name: pipeline_image
    - name: ubi8_minimal_image
      description: ubi8 minimal image
      default: "registry.access.redhat.com/ubi8-minimal@sha256:54ef2173bba7384dc7609e8affbae1c36f8a3ec137cacc0866116d65dd4b9afe"
    - name: git_pr_url
    - name: bundle_path
    - name: github_token_secret_name
      description: The name of the Kubernetes Secret that contains the GitHub token.
      default: github
    - name: github_token_secret_key
      description: The key within the Kubernetes Secret that contains the GitHub token.
      default: token
  workspaces:
    - name: source
  results:
    - name: bool_merge
    - name: pr_merged
  steps:
    - name: check-if-merge
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.source.path)
      script: |
        PKG_PATH=$(dirname $(realpath $(params.bundle_path)))
        CI_FILE_PATH="$PKG_PATH/ci.yaml"
        BOOL_MERGE=$(cat $CI_FILE_PATH | yq -r '.merge')

        echo -n "$BOOL_MERGE" | tee $(results.bool_merge.path)

    - name: review-pull-request
      image: "$(params.ubi8_minimal_image)"
      env:
        - name: GITHUB_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.github_token_secret_name)
              key: $(params.github_token_secret_key)
      script: |
        #! /usr/bin/env bash

        # DO NOT USE `set -x`, to avoid revealing the github bot token in logs!
        set -e

        # get the PR number and the repository name from the original PR url-
        # it will be used for the api.github url
        PR_NUMBER=$(basename "$(params.git_pr_url)")
        REPO_NAME=$(echo "$(params.git_pr_url)" | sed -e "s|^https://github.com/||" -e "s|/pull/.*$||")

        API_URL=https://api.github.com/repos/${REPO_NAME}/pulls/${PR_NUMBER}/reviews
        echo $API_URL

        # curl to GitHub API
        curl --fail -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: bearer ${GITHUB_BOT_TOKEN}" \
          -d '{"body": "Operator bundle PR has been approved!", "event": "APPROVE"}' \
          $API_URL

        echo "Merge request has been approved!"

    - name: merge-pull-request
      image: "$(params.ubi8_minimal_image)"
      env:
        - name: GITHUB_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.github_token_secret_name)
              key: $(params.github_token_secret_key)
      script: |
        #! /usr/bin/env bash

        # DO NOT USE `set -x`, to avoid revealing the github bot token in logs!
        set -e

        BOOL_MERGE=$(cat $(results.bool_merge.path))

        if [ "$BOOL_MERGE" = "false" ]; then
          echo "merge explicitly set to false- not merging the Pull Request"
          echo -n "false" | tee $(results.pr_merged.path)
          exit 0
        fi

        # get the PR number and the repository name from the original PR url-
        # it will be used for the api.github url
        PR_NUMBER=$(basename "$(params.git_pr_url)")
        REPO_NAME=$(echo "$(params.git_pr_url)" | sed -e "s|^https://github.com/||" -e "s|/pull/.*$||")

        API_URL=https://api.github.com/repos/${REPO_NAME}/pulls/${PR_NUMBER}/merge
        echo $API_URL

        # curl to GitHub API
        curl --fail -X PUT \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: bearer ${GITHUB_BOT_TOKEN}" \
          $API_URL

        echo "Merge request has been merged!"
        echo -n "true" | tee $(results.pr_merged.path)
