---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: preflight
spec:
  params:
    - name: preflight_results_exists
      default: "false"
      description: Skips preflight execution if set to "true"
    - name: base_image
      default: quay.io/opdev/preflight:0.0.0
      description: Preflight image used
    - name: package_name
      description: Package name for the Operator under test
    - name: bundle_version
      description: Version of the bundle under test
    - name: bundle_index_image
      description: The Operator index image which includes the bundle
    - name: bundle_image
      description: The Operator bundle image under test
    - name: service_account
      description: The service account for the preflight config
      default: "default"
    - name: namespace
      description: The namespace for the preflight config
      default: "$(context.taskRun.namespace)"
    - name: log_level
      description: Preflight logging level
      default: info

  results:
    - name: log_output_file
    - name: result_output_file
    - name: artifacts_output_dir
  workspaces:
    - name: output
      description: Storage for preflight results, logs and artifacts.
    - name: kubeconfig
      description: A kubernetes config for the cluster used in preflight testing
    - name: credentials
      description: Docker config for retrieving the bundle image
      optional: true
  steps:
    - name: prepare-environment
      image: quay.io/redhat-isv/operator-pipelines-images:latest
      workingDir: $(workspaces.output.path)
      env:
        - name: KUBECONFIG
          value: $(workspaces.kubeconfig.path)/kubeconfig
      script: |
        #! /usr/bin/env bash
        set -xe

        if [[ "$(workspaces.credentials.bound)" == "true" ]]; then
          # Combine the default credentials with those found in the workspace
          # to maintain access to the internal registry.

          export DOCKER_CONFIG=/tmp/.docker
          mkdir $DOCKER_CONFIG
          jq -s '.[0] * .[1]' \
            $(workspaces.credentials.path)/.dockerconfigjson \
            $HOME/.docker/config.json \
            > $DOCKER_CONFIG/config.json
        fi
    - name: check-operator
      image: $(params.base_image)
      workingDir: $(workspaces.output.path)
      env:
        - name: PFLT_INDEXIMAGE
          value: $(params.bundle_index_image)
        - name: PFLT_SERVICEACCOUNT
          value: $(params.service_account)
        - name: PFLT_NAMESPACE
          value: $(params.namespace)
        - name: PFLT_LOGFILE
          value: preflight.log
        - name: PFLT_ARTIFACTS
          value: artifacts
        - name: KUBECONFIG
          value: $(workspaces.kubeconfig.path)/kubeconfig
        - name: PFLT_LOGLEVEL
          value: $(params.log_level)
      script: |
        #! /usr/bin/env bash
        set -xe

        if [[ "$(workspaces.credentials.bound)" == "true" ]]; then
          # Combine the default credentials
          # with those found in the workspace to maintain access to the internal
          # registry.
          export DOCKER_CONFIG=/tmp/.docker
          mkdir $DOCKER_CONFIG
          jq -s '.[0] * .[1]' \
            $(workspaces.credentials.path)/.dockerconfigjson \
            $HOME/.docker/config.json \
            > $DOCKER_CONFIG/config.json
        fi

        PREFLIGHT_RESULTS_EXISTS="$(params.preflight_results_exists)"
        if [ $PREFLIGHT_RESULTS_EXISTS == "true" ]; then
          echo "Preflight results already exists- skipping"
          echo -n "none" | tee $(results.log_output_file.path)
          echo -n "none" | tee $(results.result_output_file.path)
          echo -n "none" | tee $(results.artifacts_output_dir.path)
          exit 0
        fi

        preflight check operator $(params.bundle_image)

        echo -n $PFLT_LOGFILE | tee $(results.log_output_file.path)
        echo -n results.json | tee $(results.result_output_file.path)
        echo -n $PFLT_ARTIFACTS | tee $(results.artifacts_output_dir.path)
