---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: preflight
spec:
  params:
    - name: preflight_results_exists
      default: "false"
  results:
    - name: log_output_file
    - name: result_output_file
    - name: artifacts_output_dir
  workspaces:
    - name: source
  steps:
    - name: preflight-tests
      image: quay.io/redhat-isv/operator-pipelines-images:latest
      workingDir: $(workspaces.source.path)
      script: |
        #! /usr/bin/env bash
        PREFLIGHT_RESULTS_EXISTS="$(params.preflight_results_exists)"
        if [ $PREFLIGHT_RESULTS_EXISTS == "true" ]; then
          echo "Preflight results already exists- skipping"
          echo -n "none" | tee $(results.log_output_file.path)
          echo -n "none" | tee $(results.result_output_file.path)
          echo -n "none" | tee $(results.artifacts_output_dir.path)
          exit 0
        fi

        echo "Testing"

        # Temporary test data
        ls -l
        cp -r /home/user/tests/data/* .
        ls -l


        echo -n preflight.log | tee $(results.log_output_file.path)
        echo -n results.json | tee $(results.result_output_file.path)
        echo -n artifacts | tee $(results.artifacts_output_dir.path)
