---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: set-env-community
spec:
  params:
    - name: ubi8_minimal_image
      description: ubi8 minimal image
      default: "registry.access.redhat.com/ubi8-minimal@sha256:54ef2173bba7384dc7609e8affbae1c36f8a3ec137cacc0866116d65dd4b9afe"
    - name: env
      description: Environment. One of [dev, qa, stage, prod]
  results:
    - name: iib_url
      description: IIB URL based on selected environment
    - name: sig_key_id
      description: The signing key id that index image claims are signed with
    - name: sig_key_name
      description: The signing key name that index image claims are signed with
    - name: umb_url
      description: umb host to connect to for messaging, e.g. for signing
    - name: umb_client_name
      description: Client name to connect to umb, usually a service account name
    - name: pyxis_url
      description: Container API URL based for selected environment
  steps:
    - name: set-env-community
      image: "$(params.ubi8_minimal_image)"
      script: |
        #! /usr/bin/env bash
        set -xe
        ENV="$(params.env)"
        if ! [[ "$ENV" =~ ^(prod|stage|qa|dev)$ ]]; then
          echo "Unknown environment."
          exit 1
        fi
        case $ENV in
            prod)
                IIB_URL="https://iib.engineering.redhat.com"
                SIG_KEY_ID="4096R/55A34A82 SHA-256"
                SIG_KEY_NAME="containerisvsign"
                UMB_URL="umb.api.redhat.com"
                UMB_CLIENT_NAME="operatorpipelines"
                PYXIS_URL="https://pyxis.engineering.redhat.com"
            ;;
            stage | integration-tests)
                IIB_URL="https://iib.stage.engineering.redhat.com"
                SIG_KEY_ID="4096R/37036783 SHA-256"
                SIG_KEY_NAME="redhate2etesting"
                UMB_URL="umb.stage.api.redhat.com"
                UMB_CLIENT_NAME="nonprod-operatorpipelines"
                PYXIS_URL="https://pyxis.stage.engineering.redhat.com"
            ;;
            qa)
                IIB_URL="https://iib.stage.engineering.redhat.com"
                SIG_KEY_ID="4096R/37036783 SHA-256"
                SIG_KEY_NAME="redhate2etesting"
                UMB_URL="umb.stage.api.redhat.com"
                UMB_CLIENT_NAME="nonprod-operatorpipelines"
                PYXIS_URL="https://pyxis.qa.engineering.redhat.com"
            ;;
            dev)
                IIB_URL="https://iib.stage.engineering.redhat.com"
                SIG_KEY_ID="4096R/37036783 SHA-256"
                SIG_KEY_NAME="redhate2etesting"
                UMB_URL="umb.stage.api.redhat.com"
                UMB_CLIENT_NAME="nonprod-operatorpipelines"
                PYXIS_URL="https://pyxis.dev.engineering.redhat.com"
            ;;
        esac

        echo -n $IIB_URL | tee $(results.iib_url.path)
        echo -n $SIG_KEY_ID | tee $(results.sig_key_id.path)
        echo -n $SIG_KEY_NAME | tee $(results.sig_key_name.path)
        echo -n $UMB_URL | tee $(results.umb_url.path)
        echo -n $UMB_CLIENT_NAME | tee $(results.umb_client_name.path)
        echo -n $PYXIS_URL | tee $(results.pyxis_url.path)
