---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: trigger-marketplace-replication
spec:
  params:
    - name: bundle_path
      description: path indicating the location of the certified bundle within the repository
    - name: git_repo_url
      description: ssh address of GitHub repository
    - name: ibm_webhook_token_secret_name
      description: The name of the Kubernetes Secret that contains the IBM webhook token.
    - name: ibm_webhook_token_secret_key
      description: The key within the Kubernetes Secret that contains the IBM webhook token.
    - name: package
      description: Operator package name
    - name: pipeline_image
    - name: ocp_version
      description: OCP versions in the bundle annotations
    - name: version
      description: Version of the operator bundle
  workspaces:
    - name: source
  steps:
    - name: trigger-marketplace-replication
      image: "$(params.pipeline_image)"
      workingDir: $(workspaces.source.path)
      env:
        - name: IBM_WEBHOOK_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.ibm_webhook_token_secret_name)
              key: $(params.ibm_webhook_token_secret_key)
      script: |
        #! /usr/bin/env bash
        set -e

        marketplace-replication \
          --bundle-path "$(params.bundle_path)" \
          --git-repo-url "$(params.git_repo_url)" \
          --package "$(params.package)" \
          --ocp-version "$(params.ocp_version)" \
          --version "$(params.version)" \
          --verbose
