---
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: "{{ nginx_proxy_name }}"
    env: "{{ env }}"
    suffix: "{{ suffix }}"
  name: "{{ nginx_proxy_name }}-{{ suffix }}"
spec:
  replicas: {{ nginx_proxy_replicas | int }}  # yamllint disable-line rule:braces
  strategy:
    type: Rolling
    rollingParams:
      timeoutSeconds: 3600
  triggers:
    - type: ConfigChange
  template:
    metadata:
      labels:
        app: "{{ nginx_proxy_name }}"
        env: "{{ env }}"
        suffix: "{{ suffix }}"
      name: "{{ nginx_proxy_name }}-{{ suffix }}"
    spec:
      volumes:
        - name: nginx-config
          configMap:
            name: "{{ nginx_proxy_name }}-{{ suffix }}"
        - name: nginx-htpasswd
          secret:
            secretName: "{{ nginx_proxy_name }}-htpasswd-{{ suffix }}"
        - name: fluentd-config
          secret:
            secretName: "{{ nginx_proxy_name }}-fluentd-{{ suffix }}"

      containers:
        - name: "{{ nginx_proxy_name }}"
          image: "{{ nginx_proxy_image }}"
          command:
            - /bin/bash
            - '-c'
          args:
            - 'nginx -g "daemon off;error_log /dev/stdout debug;" -c /etc/nginx/nginx-config/nginx.conf'
          ports:
            - containerPort: {{ nginx_port | int }} # yamllint disable-line rule:braces
              protocol: TCP
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /_proxy/ping
              port: {{ nginx_port | int }} # yamllint disable-line rule:braces
            initialDelaySeconds: 60
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /_proxy/ping
              port: {{ nginx_port | int }} # yamllint disable-line rule:braces
            initialDelaySeconds: 15
            timeoutSeconds: 20
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx-config/
              readOnly: true
            - name: nginx-htpasswd
              mountPath: "{{ nginx_basic_user_dir_path }}"
              readOnly: true
            - name: nginx-logs
              mountPath: "{{ nginx_proxy_log_dir }}"
              readOnly: true
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 250m
              memory: 256Mi
        - name: fluentd
          image: images.paas.redhat.com/exd-sp-guild-isv/fluentd:latest
          env:
            - name: FLUENTD_CONF
              value: fluentd.conf
          volumeMounts:
            - name: nginx-logs
              mountPath: "{{ nginx_proxy_log_dir }}"
              readOnly: true
            - name: fluentd-config
              mountPath: /fluentd/etc
              readOnly: true
          resources:
            requests:
              cpu: 0.075
              memory: 80Mi
            limits:
              cpu: 100m
              memory: 100Mi
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 30
            successThreshold: 1
