---
apiVersion: v1
kind: Service
metadata:
  name: "{{ nginx_proxy_name }}"
  labels:
    app: "{{ nginx_proxy_name }}"
    env: "{{ env }}"
    suffix: "{{ suffix }}"
spec:
  ports:
    - name: http
      port: 80
      targetPort: {{ nginx_port | int }} # yamllint disable-line rule:braces
  selector:
    app: "{{ nginx_proxy_name }}"
    env: "{{ env }}"
    suffix: "{{ suffix }}"
