---
apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: metrics-pipeline
spec:
  params:
    - name: ubi8_minimal_image
      description: ubi8 minimal image
      default: "registry.access.redhat.com/ubi8-minimal@sha256:54ef2173bba7384dc7609e8affbae1c36f8a3ec137cacc0866116d65dd4b9afe"
    - name: tkn_image
      description: Tekton CLI image
      default: registry.redhat.io/openshift-pipelines/pipelines-cli-tkn-rhel9@sha256:dccbf3d518cb06e4ad170e6a46ccf4f4c0a1ccca523f1520c97897a04edf4254
    - name: metrics_endpoint
      description: |
        A metrics collector route.
      default: "http://pipeline-metrics.pipeline-metrics-prod"
    - name: pipelinerun
      description: The name of the PipelineRun to summarize.
    - name: pipelinerun_namespace
      description: The namespace of the specified PipelineRun.

  workspaces:
    - name: results

  tasks:
    - name: update-metrics
      taskRef:
        name: update-metrics
      params:
        - name: ubi8_minimal_image
          value: "$(params.ubi8_minimal_image)"
        - name: tkn_image
          value: "$(params.tkn_image)"
        - name: pipelinerun_namespace
          value: "$(params.pipelinerun_namespace)"
        - name: pipelinerun
          value: "$(params.pipelinerun)"
        - name: metrics_url
          value: "$(params.metrics_endpoint)"
      workspaces:
        - name: output
          workspace: results
          subPath: metrics
