---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: update-metrics
spec:
  description: >-
    This task updates Prometheus metrics.

  workspaces:
    - name: output
      description: Scratch space and storage for the metrics

  params:
    - name: ubi8_minimal_image
      description: ubi8 minimal image
      default: "registry.access.redhat.com/ubi8-minimal@sha256:54ef2173bba7384dc7609e8affbae1c36f8a3ec137cacc0866116d65dd4b9afe"
    - name: tkn_image
      description: Tekton CLI image
      default: registry.redhat.io/openshift-pipelines/pipelines-cli-tkn-rhel8@sha256:a523d17e00f1f75c35073f7a7c0abcb2a8930c331ae5b3a0aed26dff1e6be5a3
    - name: metrics_url
      description: |
        A metrics collector route.
      default: "http://pipeline-metrics.pipeline-metrics-prod"
    - name: pipelinerun
      description: The name of the PipelineRun to summarize.
    - name: pipelinerun_namespace
      description: The namespace of the specified PipelineRun.

  steps:
    - name: gather-info
      workingDir: $(workspaces.output.path)
      image: "$(params.tkn_image)"
      script: |
        #! /usr/bin/env bash
        set -xe
        PR_NAME="$(params.pipelinerun)"
        PR_NAME_PATH="metrics/$(params.pipelinerun)"
        PIPELINERUN_NAMESPACE="$(params.pipelinerun_namespace)"
        mkdir -p $PR_NAME_PATH

        echo "Getting PipelineRun details"
        tkn pipelinerun describe $PR_NAME -o json -n "$PIPELINERUN_NAMESPACE" > $PR_NAME_PATH/pipelinerun.json

        chmod -R 777 $PR_NAME_PATH

    - name: submit-metrics
      workingDir: $(workspaces.output.path)
      image: "$(params.ubi8_minimal_image)"
      script: |
        #! /usr/bin/env bash
        set -xe

        PR_NAME_PATH="metrics/$(params.pipelinerun)"
        METRICS_URL="$(params.metrics_url)"

        # This is an optional steps so if the destination is not available don't fail the pipeline
        curl -X POST $METRICS_URL/v1/metrics/pipelinerun -H "Content-Type:application/json" -d @$PR_NAME_PATH/pipelinerun.json || true
