---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: community-hosted-pipeline
spec:
  params:
    - name: git_repo_url
    - name: git_pr_branch
    - name: git_fork_url
    - name: git_pr_url
    - name: git_pr_title
    - name: git_username
    - name: git_commit
    - name: git_commit_base
    - name: env

    - name: registry
      description: Must be some variety of quay registry.
      default: quay.io

    - name: image_namespace
      default: "$(context.pipelineRun.namespace)"
      description: The namespace/organization all built images will be pushed to.

    - name: pipeline_image
      default: "quay.io/redhat-isv/operator-pipelines-images:released"

    - name: github_token_secret_name
      description: The name of the Kubernetes Secret that contains the GitHub token.
      default: github-bot-token

    - name: github_token_secret_key
      description: The key within the Kubernetes Secret that contains the GitHub token.
      default: github_bot_token

    - name: kerberos_keytab_secret_name
      description: >-
        The name of the Kubernetes Secret that contains the kerberos keytab for submitting IIB builds.
      default: kerberos-keytab

    - name: kerberos_keytab_secret_key
      description: >-
        The key within the Kubernetes Secret that contains the kerberos keytab for submitting IIB builds.
      default: krb5.keytab

    - name: quay_oauth_secret_name
      default: community-quay-oauth-token

    - name: quay_oauth_secret_key
      default: token

    - name: metrics_endpoint
      description: Prometheus metrics endpoint
      default: http://pipeline-metrics.pipeline-metrics-prod

  workspaces:
    - name: repository
    - name: results
    - name: ssh-dir
      optional: true
    - name: registry-credentials
  tasks:

    # Set a initial PR label with indication that pipeline has started
    - name: set-github-started-label
      taskRef:
        name: github-labels
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
        - name: add_labels
          value: "$(context.pipeline.name)/started"
        - name: remove-matching-namespace-labels
          value: "true"

    - name: clone-repository
      taskRef:
        name: git-clone
        kind: Task
      runAfter:
        - set-github-started-label
      params:
        - name: url
          value: "$(params.git_fork_url)"
        - name: revision
          value: "$(params.git_pr_branch)"
        - name: depth
          value: 25
        - name: gitInitImage
          value: registry.redhat.io/openshift-pipelines/pipelines-git-init-rhel8@sha256:bc551c776fb3d0fcc6cfd6d8dc9f0030de012cb9516fac42b1da75e6771001d9
      workspaces:
        - name: output
          workspace: repository
          subPath: src
        - name: ssh-directory
          workspace: ssh-dir

    - name: detect-changes
      taskRef:
        name: parse-repo-changes
        kind: Task
      runAfter:
        - clone-repository
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: head_commit
          value: "$(params.git_commit)"
        - name: base_commit
          value: "$(params.git_commit_base)"
      workspaces:
        - name: repo
          workspace: repository
          subPath: src

    # parse ci.yaml file and look for the reviewer and or author of the PR
    - name: get-ci-reviewer
      taskRef:
        name: get-ci-reviewer
        kind: Task
      runAfter:
        - detect-changes
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: git_username
          value: "$(params.git_username)"
        - name: pr_url
          value: "$(params.git_pr_url)"
        - name: operator_name
          value: "$(tasks.detect-changes.results.added_operator)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
      workspaces:
        - name: repo
          workspace: repository
          subPath: src

    - name: read-config
      taskRef:
        name: read-config
        kind: Task
      runAfter:
        - get-ci-reviewer
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: operator_path
          value: &addedOperatorPath "operators/$(tasks.detect-changes.results.added_operator)"
      workspaces:
        - name: source
          workspace: repository
          subPath: src

    - name: static-tests
      taskRef:
        name: run-static-tests
        kind: Task
      runAfter:
        - read-config
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: operator_name
          value: "$(tasks.detect-changes.results.added_operator)"
        - name: bundle_version
          value: "$(tasks.detect-changes.results.added_bundle)"
      workspaces:
        - name: source
          workspace: repository
          subPath: src
        - name: output
          workspace: results
          subPath: summary

    - name: static-tests-results
      taskRef:
        name: report-static-tests-results
        kind: Task
      runAfter:
        - static-tests
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: messages_count
          value: "$(tasks.static-tests.results.messages_count)"
        - name: failures_count
          value: "$(tasks.static-tests.results.failures_count)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
      workspaces:
        - name: output
          workspace: results
          subPath: summary

    - name: dockerfile-creation
      runAfter:
        - static-tests-results
      taskRef:
        name: dockerfile-creation
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: bundle_path
          value: &addedBundlePath "operators/$(tasks.detect-changes.results.added_operator)/$(tasks.detect-changes.results.added_bundle)"
      workspaces:
        - name: source
          workspace: repository
          subPath: src

    # Bundle Image (Operator Bundle) is a container image that stores
    # Kubernetes manifests and metadata associated with an operator.
    # A bundle is meant to represent a specific version of an operator on cluster.
    - name: build-bundle
      runAfter:
        - dockerfile-creation
      taskRef:
        name: buildah
        kind: Task
      params:
        - name: IMAGE
          value: &bundleImage "$(params.registry)/$(params.image_namespace)/$(tasks.detect-changes.results.added_operator):$(tasks.detect-changes.results.added_bundle)-$(params.git_commit)"
        - name: CONTEXT
          value: *addedBundlePath
      workspaces:
        - name: source
          workspace: repository
          subPath: src
        - name: credentials
          workspace: registry-credentials

    - name: make-bundle-repo-public
      runAfter:
        - build-bundle
      taskRef:
        name: set-quay-repo-visibility
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: repository
          value: "$(params.image_namespace)/$(tasks.detect-changes.results.added_operator)"
        - name: visibility
          value: public
        - name: oauth_secret_name
          value: "$(params.quay_oauth_secret_name)"
        - name: oauth_secret_key
          value: "$(params.quay_oauth_secret_key)"

    - name: get-supported-versions
      runAfter:
        - make-bundle-repo-public
      taskRef:
        name: get-supported-versions
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: bundle_path
          value: *addedBundlePath
      workspaces:
        - name: source
          workspace: repository
          subPath: src

    - name: add-bundle-to-index
      runAfter:
        - get-supported-versions
      taskRef:
        name: add-bundle-to-index
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: index_images
          value: "$(tasks.get-supported-versions.results.indices)"
        - name: bundle_pullspec
          value: *bundleImage
        - name: environment
          value: "$(params.env)"
        - name: kerberos_keytab_secret_name
          value: "$(params.kerberos_keytab_secret_name)"
        - name: kerberos_keytab_secret_key
          value: "$(params.kerberos_keytab_secret_key)"
        - name: index-image-destination
          value: "$(params.registry)/$(params.image_namespace)/catalog"
        # Adding a commit hash as a suffix to the image tag
        - name: index-image-destination-tag-suffix
          value: "-$(params.git_commit)"
        - name: upgrade-graph-mode
          value: "$(tasks.read-config.results.upgrade-graph-mode)"
        # Production IIB instance doesn't support the upgrade path feature yet.
        # TODO: switch it to PROD when the feature is available
        - name: iib_url
          value: https://iib.stage.engineering.redhat.com
      workspaces:
        - name: credentials
          workspace: registry-credentials
        - name: results
          workspace: results

    - name: trigger-prow-tests
      taskRef:
        name: trigger-prow-tests
        kind: Task
      runAfter:
        - add-bundle-to-index
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
        - name: supported_ocp_versions
          value: "$(tasks.get-supported-versions.results.indices_ocp_versions)"
        - name: skipped_ocp_versions
          value: "$(tasks.get-supported-versions.results.skipped_ocp_versions)"

    - name: wait-prow-tests
      taskRef:
        name: wait-prow-tests
        kind: Task
      runAfter:
        - trigger-prow-tests
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: supported_ocp_versions
          value: "$(tasks.get-supported-versions.results.indices_ocp_versions)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"

  finally:

    - name: set-github-passed-label
      when:
        - input: "$(tasks.status)"
          operator: in
          values:
            - Succeeded
            - Completed
      taskRef:
        name: github-labels
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
        - name: add_labels
          value: "$(context.pipeline.name)/passed"
        - name: remove-matching-namespace-labels
          value: "true"

    - name: set-github-failed-label
      when:
        - input: "$(tasks.status)"
          operator: notin
          values:
            - Succeeded
            - Completed
      taskRef:
        name: github-labels
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
        - name: add_labels
          value: "$(context.pipeline.name)/failed"
        - name: remove-matching-namespace-labels
          value: "true"

    # set the GitHub status to success if the pipeline passes
    - name: set-github-status-success
      when:
        - input: "$(tasks.status)"
          operator: in
          values: ["Succeeded", "Completed"]
      taskRef:
        name: set-github-status
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: git_repo_url
          value: $(params.git_repo_url)
        - name: commit_sha
          value: $(params.git_commit)
        - name: description
          value: "Pipeline for the operator tests has passed successfully"
        - name: state
          value: success
        - name: context
          value: "operator/test"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"

    # set the GitHub status to failure if the pipeline does not pass
    - name: set-github-status-failure
      when:
        - input: "$(tasks.status)"
          operator: notin
          values:
            - Succeeded
            - Completed
      taskRef:
        name: set-github-status
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: git_repo_url
          value: $(params.git_repo_url)
        - name: commit_sha
          value: $(params.git_commit)
        - name: description
          value: "Pipeline for the operator tests has failed"
        - name: state
          value: failure
        - name: context
          value: "operator/test"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"

    # Comment with a pipeline summary
    - name: github-add-summary-comment
      taskRef:
        name: github-pipelinerun-summary
      params:
        - name: pipeline_image
          value: "$(params.pipeline_image)"
        - name: request_url
          value: "$(params.git_pr_url)"
        - name: github_token_secret_name
          value: "$(params.github_token_secret_name)"
        - name: github_token_secret_key
          value: "$(params.github_token_secret_key)"
        - name: pipelinerun
          value: "$(context.pipelineRun.name)"
        - name: upload_pipeline_logs
          value: "true"
      workspaces:
        - name: output
          workspace: results
          subPath: summary

    # Submit a pipeline metrics to a collector
    - name: update-metrics
      taskRef:
        name: update-metrics
      params:
        - name: pipelinerun
          value: "$(context.pipelineRun.name)"
        - name: metrics_url
          value: "$(params.metrics_endpoint)"
      workspaces:
        - name: output
          workspace: results
          subPath: metrics
