---
name: Build and test

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
  workflow_dispatch:


jobs:
  tox:
    name: Run unit tests and linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"

      - name: Set up poetry
        uses: Gr1N/setup-poetry@48b0f77c8c1b1b19cb962f0f00dff7b4be8f81ec # v9
        with:
          poetry-version: "2.3.1"

      - name: Install non-python dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libkrb5-dev

      - name: Install Hadolint via Brew
        run: |
          NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          /home/linuxbrew/.linuxbrew/bin/brew install hadolint
          sudo ln -s /home/linuxbrew/.linuxbrew/bin/hadolint /usr/bin/

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction

      - name: Run Tests
        run: |
          poetry run tox

  build:
    name: Build and push image
    runs-on: ubuntu-latest
    environment: ${{ github.event.pull_request.head.repo.fork && 'build-and-test' || '' }}

    steps:
      - name: Set variables
        id: set-vars
        run: |
          if [[ $GITHUB_REF_NAME == 'main' ]]; then
            echo "tags=latest ${{ github.sha }}" >> $GITHUB_OUTPUT
          else
            echo "tags=${{ github.sha }}">> $GITHUB_OUTPUT
          fi
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          image: operator-pipelines-images
          tags: ${{ steps.set-vars.outputs.tags }}
          dockerfiles: |
            ./Dockerfile

      - name: Push To quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/redhat-isv
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"

  integration-tests:
    needs: [build]
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event.label.name == 'ready-for-testing'
    timeout-minutes: 90
    strategy:
      matrix:
        test_type:
          - isv
          - community
          - isv-fbc-bundle
          - isv-fbc-catalog

      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Prepare
        id: prepare
        run: |
          echo "suffix=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          # Install python packages needed from ansible
          pipx inject ansible-core jmespath openshift pygithub

          # Add certificates to trusted list
          sudo cp  certs/* /usr/local/share/ca-certificates
          # Rename all .pem files to .crt to allow update-ca-certificates
          for file in /usr/local/share/ca-certificates/*.pem
          do
            sudo mv "$file" "${file%.pem}.crt"
          done
          sudo update-ca-certificates

          echo "${{ secrets.VAULT_PASSWORD }}" > "$HOME"/.vault-password

          # secret used also in hosted pipeline for enabling
          # access to cluster for tkn command log accessing
          mkdir -p "$HOME"/.kube
          ansible-vault decrypt \
            --vault-password-file "$HOME"/.vault-password \
            --output "$HOME"/.kube/config \
            ansible/vaults/integration-tests/ci-pipeline-kubeconfig

          # secret used also in hosted pipeline for enabling
          # cloning of the repository
          mkdir -p "$HOME"/.ssh
          ansible-vault decrypt \
            --vault-password-file "$HOME"/.vault-password \
            --output "$HOME"/.ssh/id_rsa \
            ansible/vaults/integration-tests/ci-pipeline-github-ssh-key

      - name: Run the integration tests ansible playbook
        uses: dawidd6/action-ansible-playbook@6c0a4f86519cc4a09ba95e5077ecfa2141deba9e # v7
        with:
          playbook: playbooks/operator-pipeline-integration-tests.yml
          directory: ./ansible
          requirements: playbooks/requirements.yml
          vault_password: ${{secrets.VAULT_PASSWORD}}
          options: |
            -e "test_type=${{ matrix.test_type }}"
            -e "oc_namespace=int-tests-${{ matrix.test_type }}-${{ github.run_number }}-${{ github.run_attempt }}"
            -e "integration_tests_operator_bundle_version=0.2.${{ github.run_number }}-${{ github.run_attempt }}"
            -e "operator_pipeline_image_tag=${{ github.sha }}"
            -e "suffix=${{ steps.prepare.outputs.suffix }}"
            -e "ansible_python_interpreter=/opt/pipx/venvs/ansible-core/bin/python3"
            --skip-tags=signing-pipeline
            -v
