---
name: Community base pipeline test

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
      - upstream-community
  workflow_dispatch:

jobs:
  community-base-pipeline-test:
    name: Install kind cluster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: python -m pip install --upgrade pip kubernetes
      - name: Install kind cluster with registry and tekton setup via ansible
        id: install
        env:
          ANSIBLE_FORCE_COLOR: 1
          ANSIBLE_DISPLAY_SKIPPED_HOSTS: 0
          ANSIBLE_STDOUT_CALLBACK: "yaml"
        run: |
          ansible-galaxy collection install kubernetes.core
          ansible-playbook -i ansible/inventory/local ansible/playbooks/upstream-community.yaml --tags install,tekton-task,tekton-pipeline,ci,verify -e container_tool=docker -e package_validate_certs=false -e tekton_validate_certs=false

      - name: Running testing pipeline via tekton
        id: test-tekton
        run: |
          tkn pipeline start index-audit --use-param-defaults --workspace name=pipeline,volumeClaimTemplateFile=templates/workspace-template.yml --showlog
          RC=$(tkn pipelinerun describe --last -o yaml | yq r - status.conditions[0].status)
