---
name: "Documentation"

on:
  push:
    paths:
      - docs/**
      - mkdocs.yml
  workflow_dispatch:

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Generate docs
        run: |
          pipx install mkdocs
          pipx inject mkdocs \
            mkdocs-material \
            pymdown-extensions \
            mkdocs-mermaid2-plugin

          mkdocs build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
