name: Build and Push Image
on:  # yamllint disable-line rule:truthy
  - push
  - pull_request

jobs:
  test-lint:
    name: Run unit tests and linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fedora-python/tox-github-action@v0.4
        with:
          tox_env: black,test
          dnf_install: krb5-devel krb5-workstation

  build:
    name: Build and push image
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: operator-pipelines-images
          tags: haripate-test ${{ github.sha }}
          dockerfiles: |
            ./operator-pipeline-images/Dockerfile

      - name: Push To quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/redhat-isv
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
