---
name: validation

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tox:
    name: Run unit tests and linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pdm sync -dG operator-pipelines-dev
          pdm sync -G operator-pipelines
          pdm sync -dG tox
      - name: Run Tests
        run: |
          pdm run -v tox
